<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
  />
  <style>
    .wrapper {
      margin: 80px auto 0;
      width: 700px;
    }
    .description {
      border-top: 1px solid #707070;
      border-bottom: 1px solid #707070;
      padding: 8px 0;
    }
  </style>
</head>
