<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>
  <body>
    <div class="wrapper">
      <h2 class="title">ようこそ</h2>
      <p class="description">以下のボタンをクリック</p>
      <form class="buttons mt-5" action="/" method="post">
        <button class="button is-info" type="submit">開始</button>
      </form>
    </div>
  </body>
</html>
