<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>
  <body>
    <div class="wrapper">
      <h2 class="title">問題1</h2>
      <p class="description">問題文</p>
      <div class="buttons mt-5">
        <a href="/" class="button is-info">答え</a>
        <a href="/" class="button is-info">答え</a>
        <a href="/" class="button is-info">答え</a>
        <a href="/" class="button is-info">答え</a>
      </div>
    </div>
  </body>
</html>
