<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>
  <body>
    <div class="wrapper">
      <h2 class="title">
        あなたの正答数は<span id="numbers_of_correct_answer"></span>です！！
      </h2>
      <p class="description">再度チャレンジしたい場合は以下をクリック</p>
      <div class="buttons mt-5">
        <a href="/" class="button is-info">ホームへ戻る</a>
      </div>
    </div>
    <script src="/static/js/result.js"></script>
  </body>
</html>
